
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>!! CALCULATOR WALUT !!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>
<body>
    
<h1>CALCULATOR WALUT Z DNIA {{tradingdate}} </h1>
        
    <form method="POST" action="/">
        <div class="container">

            <label for="mcodes">Wybierz walute:  </label>
            <select name="mcodes" id="mcodes">
                {% for code in codes %}
                <option value="{{code}}">{{code}}</option>
                {% endfor %}
            </select>

            <label for="howmany"><b>Podaj ilość waluty: </b></label>
            <input type="text" placeholder="Podaj ilość" name="howmany" required>

            <button type="submit">Przelicz</button>
        </div>
    </form>






</body>
</html>

